<h1>welcome back to jobTracker, <%= current_user.username%> !</h1>
<h4>here are your potential new jobs!</h4>

<%= link_to "Add a potential job", new_company_user_path %>

<% current_user.potential_companies.each do |pc| %>
  <div class="company-user-info">
    <p><%= link_to pc.company.name, company_path(pc.company)%></p>
    <p><%= pc.company.address %></p>
    <p><%= link_to "#{pc.company.name} website", "#{pc.company.website}" %></p>
    <p>Hiring? <%= pc.company.hiring == true ? "yes" : "no" %></p>
    <p>Notes: <%= pc.notes %></p>
    <p>Advocate Name: <%= pc.advocate_name %></p>
    <p>Advocate Email: <%= pc.advocate_email %></p>
    <p>Advocate Twitter: <%= pc.advocate_twitter %></p>
    <p>Last reached out: <%= pc.last_reached_out.localtime.strftime("%a, %b %d %Y %l:%M %p") %></p>
    <p>Last follow-up: <%= pc.last_follow_up.localtime.strftime("%a, %b %d %Y %l:%M %p") %></p>
    <p>Next step details: <%= pc.next_step %></p>
    <p>Interview Notes: <%= pc.interview_notes %></p>
    <p>Offer: <%= pc.offer == true ? "yes" : "no" %></p>
    <p><%= link_to "Edit this potential job", edit_company_user_path(pc)%></p>
  </div>
<% end %>