<h4><%= @company.name %></h4>
<p><%= @company.address %></p>
<p><%= @company.website %></p>
<p><%= @company.hiring %></p>
<p><%= @company.cto_name %></p>
<p><%= @company.cto_email %></p>
<p><%= @company.cto_twitter %></p>
<p><%= @company.cto_blog_url %></p>