<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if current_user %>
  <%= link_to "Homepage", user_path(@user) %>
  <%= link_to "Logout", session_path(@user), method: :delete %>
<% end %>
</body>
</html>
