<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if current_user %>
  <%= link_to "Home", user_path(current_user) %>
  <%= link_to "Back", :back %>
  <%= link_to "Logout", session_path(current_user), method: :delete %>
<% end %>
</body>
</html>
